:root {
    --aBlack: #3d3d3d;
    --aWhite: #f5f5f5;
    --jeanBlue: #4b4e6d;
    --iceBlue: #84dcc6;
    --grayBlue: #95a3b3;
}

/* I learned how to add fonts with googleapi from this site:
    https://developers.google.com/fonts/docs/getting_started */
* {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
}

nav {
    background-color: var(--jeanBlue);
    color: var(--aBlack);
}

header{
    background-color: var(--jeanBlue);
    color: var(--aWhite);
}

h1 {
    padding-top: 15px;
    padding-left: 20px;
    color: var(--aWhite);
    font-size: 32px;
}

h2 {
    padding-right: 30px;
    width: 20%;
    font-size: 40px;
    font-weight: 600;
    color: var(--grayBlue);
}

h3 {
    font-size: 45px;
    text-decoration: underline solid var(--grayBlue);
    border-right: solid 5px var(--jeanBlue);
    min-width: 250px;
}

img {

}

ul {
    list-style-type: none
}

li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 30px;
    font-size: 20px;
    float: right;
}

li a {
    color: #f5f5f5;
}

a {
    text-decoration: none;
}

p {
    padding: 10px;
    max-width: 80%;
}

footer {
    background-color: #4b4e6d;
}

/* This is the main container that will have 2 containers in it side by side. One slightly smaller width than the other
    Then set the cards in the left section at certain pixel heights to match the other container that show the section
    This is for simplicity sake and to not have a panic attack lol. */

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/*Placeholder for the copywrite*/
h6{
    font-size: 16px;
    color: var(--aWhite)
}


.me {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Screenshot_73.png");
    background-size: cover;
    background-position: center;
}

/* This class is for the left and right sections of the main flexbox. Named for understanding the formatting */

.mainFlexBox {
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;
    margin: 10px;
    /* REMOVE THIS. THE NEXT TWO PROPERTIES ARE PURELY FOR VISUAL REP */
    /* min-height: 1200px;
    border: solid 5px #3d3d3d; */
}

/* This class with this pseduo selector will allow me to edit different sections individually */
.mainFlexBox:nth-of-type(1) {
    flex: 1 0 20%;
}

/* This is for the body of the main section! */
.bodyFlexBox {
    display: flex;
    flex: 1 0 0;
    margin: 20px;
    padding: 10px 0 10px 10px;
    font-size: 24px;
}

.bodyFlexBox p {
    display: flex;
    justify-content: start;
    align-items: center;
}

.bodyFlexBox h3,
h4 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}

.bodyFlexBox h4 {
    padding-left: 15px;
}

.bodyFlexBox a {
    text-decoration: underline solid var(--grayBlue);
    color: var(--aBlack)
}

.workBox {
    display: flex;

}

#text-right {
    text-align: right;
}

#text-left {
    text-align: left;
}

#size {
    font-size: 26px;
}

#pleft {
    padding-left: 15px;
}