:root {
    --aBlack: #3d3d3d;
    --aWhite: #faefef;
    --grayBlue: #95a3b3;
    --jeanBlue: #4b4e6d;
    --hilit: rgb(47, 140, 184);
}

/* I learned how to add fonts with googleapi from this site:
    https://developers.google.com/fonts/docs/getting_started */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    text-decoration: underline solid var(--grayBlue);
    border-right: solid 5px var(--jeanBlue);
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

li {
    display: inline;
}


/* I set the background img in CSS cause it fits easier and adjusts to the vf */
header {
    height: 400px;
    background: url(../images/Screenshot_73.png);
    background-size: cover;
    background-position: center;
}

main {
    background: var(--aWhite);
}

footer {
    background-color: #4b4e6d;
}

/* This sets the max width of the content so it doesn't spread out too far on desktop */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

/* This sets the background of the navbar */
.navbar {
    background: var(--jeanBlue);
    color: var(--aWhite);
    height: 60px;
}

/* This adjusts the container in the navbar only */
.navbar .container {
 display: flex;
 /* The next property adjusts the items to be set on opposite sides with space between them */
 justify-content: space-between;
 align-items: center;
 height: 100%;
}

/* Changes the text color to white */
.navbar a {
    color: var(--aWhite);
}

/* This allows the li to be next to each other */
.navbar ul {
    display: flex;
    
}

/* This adds space between the li for a better less crowded look along with adjusting font size. */
.navbar ul li {
    margin-left: 20px;
    font-size: larger;
}

/* This adjusts the container in the main element so the bodyBoxes stack on top of each other */
main .container {
    display: flex;
    flex-direction: column;
}

/* This sets the flexbox for bodyBox and seperates the box from the title */
.bodyBox {
    display: flex;
    margin: 20px 0;
}

/* This gives padding to the paragraph about me */
.bodyBox p {
    padding-left: 16px;
}

/* This sets the title to a set width so the border later on lines up evenly */
.bodyBox h2 {
    min-width: 162px;
}

/* This adds padding to the list items in the Contact me section */
.bodyBox li {
    padding: 0 20px;
}

/* Changes the link color from the default to white mostly for the subtitle on the images */
.bodyBox a {
    color: white;
}

/* This gives the subtitle on the img stroke and a shadow */
.bodyBox:nth-of-type(2) a {
    font-size: large;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 2px 2px #282828;
}

/* This sets those properties to the 3rd body box only */
.bodyBox:nth-of-type(3) a {
    color: black;
    font-size: large;
    text-decoration: underline var(--jeanBlue);
}

/* This class sets a container for the boxes with the link  */
.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: 16px;
}

/* This adds a border on the a element in a box */
.box a {
    border: 5px solid var(--grayBlue);
}

/* This sets styling for the project boxes */
.item {
    height: 200px;
    color: white;
    margin: 10px 0 ;
    background: var(--grayBlue);
    background-size: cover;
    /* This element makes it so it doesn't make a mosaic of the same image */
    background-repeat: no-repeat;
}

/* The next 5 classes set images and size for the  */
.item:nth-of-type(1) {
    background-image: url(../images/study.png);
    width: 100%;
}

.item:nth-of-type(2) {
    background-image: url(../images/weather.png);
    width: 45%;
}

.item:nth-of-type(3) {
    background-image: url(../images/insult.png);
    width: 45%;
}

.item:nth-of-type(4) {
    background-image: url(../images/rps.png);
    width: 45%;
}

.item:nth-of-type(5) {
    background-image: url(../images/luna.png);
    width: 45%;
}

.item:hover {
    box-shadow: 10px 5px 5px var(--hilit);
}

#foot {
    text-align: right;
    color: var(--aWhite);
    padding-right: 16px;
}

/* This media query makes it so when the view finder is at 768px the project boxes stack evenly for a better look for mobile */
@media (max-width: 768px) {
  
    .box {
     flex-direction: column;
    }

    .item:nth-of-type(2) {
        width: 100%;
    }

    .item:nth-of-type(3) {
        width: 100%;
    }

    .item:nth-of-type(4) {
        width: 100%;
    }

    .item:nth-of-type(5) {
        width: 100%;
    }
  }
  