:root {
    --aBlack: #3d3d3d;
    --aWhite: #faefef;
    --grayBlue: #95a3b3;
    --jeanBlue: #4b4e6d;
}

/* I learned how to add fonts with googleapi from this site:
    https://developers.google.com/fonts/docs/getting_started */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    text-decoration: underline solid var(--grayBlue);
    border-right: solid 5px var(--jeanBlue);
}

img {

}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

li {
    display: inline;
}


/* I set the background img in CSS cause it fits easier and adjusts to the vf */
header {
    height: 400px;
    background: url(../images/Screenshot_73.png);
    background-size: cover;
    background-position: center;
}

main {
    background: var(--aWhite);
}

footer {
    background-color: #4b4e6d;
}

/* This sets the max width of the content so it doesn't spread out too far on desktop */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

.navbar {
    background: var(--jeanBlue);
    color: var(--aWhite);
    height: 60px;
}

.navbar .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;
}

.navbar a {
    color: var(--aWhite);
}

.navbar ul {
    display: flex;
    
}

.navbar ul li {
    margin-left: 10px;
    font-size: larger;
}

main .container {
    display: flex;
    flex-direction: column;
}

.bodyBox {
    display: flex;
    margin: 20px 0;
}

.bodyBox p {
    padding-left: 16px;
}

.bodyBox h2 {
    min-width: 162px;
}

.bodyBox li {
    padding: 0 20px;
}

.bodyBox a {
    color: white;
}

.bodyBox:nth-of-type(3) a {
    color: black;
    font-size: x-large;
    text-decoration: underline var(--jeanBlue);
}


.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: 16px;
}

.box a {
    border: 5px solid var(--grayBlue);
}

.item {
    height: 300px;
    color: white;
    margin: 10px 0 ;
    background: var(--grayBlue);
}

.item:nth-of-type(1) {
    background-image: url(../images/study.png);
    flex-grow: 1 0 0;
    width: 100%;
}

.item:nth-of-type(2) {
    background-image: url(../images/weather.png);
    width: 45%;
}

.item:nth-of-type(3) {
    background-image: url(../images/insult.png);
    width: 45%;
}

.item:nth-of-type(4) {
    background-image: url(../images/rps.png);
    width: 45%;
}

.item:nth-of-type(5) {
    background-image: url(../images/luna.png);
    width: 45%;
}

#foot {
    text-align: right;
    color: var(--aWhite);
    padding-right: 16px;
}

@media (max-width: 768px) {
  
    .box {
     flex-direction: column;
    }

    .item:nth-of-type(2) {
        width: 100%;
    }

    .item:nth-of-type(3) {
        width: 100%;
    }

    .item:nth-of-type(4) {
        width: 100%;
    }

    .item:nth-of-type(5) {
        width: 100%;
    }
  }
  